/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 avr. 2016, 15:00:23
    Author     : VIC
*/

body {
    background-color: #E1E6F5;
    padding: 0;
    margin: 0;
    font-family: "Lato",sans-serif;
    font-size: 15px;
}

#content {
    padding: 15px 20px 12px 20px;
    margin: 1% auto 2% auto;
    width: 80%;
    background-color: white;
}

.tabCreneaux{
    padding: 25px;
    border: 5px solid;
    height: 250px;
}

#inscriptionForm{
    padding-top: 25px;
    height: 250px;
}

label{
    margin-bottom: 2px;
    display: block;
    width: 210px;
    float: left;
}

.erreur{
    color:red;
}

.succes{
    color: #090;
}

				
p#validation{
text-align: center;
}

div.row{
margin-top:50px;
}

table{
border-style:double;
}

.heure{background-color:#D3D3D3;}